@{
  
}

<div class="modal fade" id="BookDetailModal" tabindex="-1" aria-labelledby="BookDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="BookDetailModalLabel">明細</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                <table class="table table-bordered">
                    <colgroup>
                        <col style="width: 15%">
                     
                    </colgroup>
                  <thead>
                        <tr>

                        </tr>
                  </thead>
                    <tbody id="BookDetailContainer"></tbody>
                    @*<tr>
                    <td></td> <td></td>
                    </tr>*@
              </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>